*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.mainCont{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.firstDiv{
    background-color: rgb(156, 153, 159);
    height: 100%;
    width: 20%;
}
.secondDiv{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    gap: 40px;
}
.data{
    border: 2px solid brown;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 40% 40%;
    grid-template-areas: 
    "h1 h1"
    "p1 p2"
    "p3 p4"
;
    column-gap: 4%;
}

.data > p {
    border: 1px solid gold;
    border-radius: 2%;
    background-color: green;
}
#it1{
    grid-area: h1;
}
#it2{
    grid-area: p1;
}
#it3{
    grid-area: p2;
}
#it4{
    grid-area: p3;
}
#it5{
    grid-area: p4;
}
