<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mainCont">
        <section id="leftSec">
            <nav>
                <li><a href="/catalog">Home</a</li>
                <li><a href=/catalog/books"">All Books</a</li>
                <li><a href="/catalog/authors">All Authors</a></li>
                <li><a href="/catalog/genres">All Genres</a></li>
                <li><a href="/catalog/bookInstances">All Book Instances</a></li>

                <li><a href="/catalog/book/create">Create New Book</a></li>
                <li><a href="/catalog/author/create">Create New Genre</a></li>
                <li><a href="/catalog/genre/create">Create New Genre</a></li>
                <li><a href="/catalog/bookInstance/create">Create New Book Instance</a></li>
            </nav>
        </section>

        <section id="rightSec">

        </section>
    </div>
</body>
</html>