<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add An Author</title>
</head>
<body>
    <div class="mainCont">
        <div class="firstDiv">
            <%- include('../layout') %>
        </div>

        <div class="secondDiv">
            <form action="" method="post">
                <fieldset>
                    <legend>Bio</legend>
                    <input placeholder="First Name" type="text" name="fName" id="fName">
                    <input placeholder="Last Name" type="text" name="lName" id="fName">
                </fieldset>

                <fieldset>
                    <legend>Info</legend>
                    <input placeholder="Date Of Birth" type="text" name="dob" id="dob">
                    <input placeholder="Rating" type="number" min="1" max="5" name="rating" id="rating">
                </fieldset>
                    <button type="submit" class="createBtn">Create Author</button>
            </form>
        </div>
    </div>
</body>
</html>